= form_for @user_session, :url => {:action => "create"} do |f|
  = f.error_messages
  
  %fieldset
    %legend Take me in
    %ul.login
      %li
        = f.label "Username"
      %li
        = f.text_field :login
      %li
        = f.label :password
      %li
        = f.password_field :password
      %li
        = f.submit "Login"

