!!!
%html
  %head
    %title cinde 
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = javascript_include_tag :all

    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
      = stylesheet_link_tag 'buttons.css', :media => 'screen, projection'
      = csrf_meta_tag

  %body.bp
    #header
      logo goes here
 
    #navigation
      .tabs_section
        - tabs_tag :open_tabs => {:class => 'tabs'} do |tab|
          = tab.home 'Homepage', root_path
          = tab.user 'User', users_path
      .logout_section
        [ #{current_user.email} ] [ #{link_to "Sign out", logout_path} ]
      .clear

    #sub_navigation
      %p
        = yield :sub_navigation

    #container
      .flash_notice
      = yield
    
    #footer
      cinde@2011
